@inherits SimpleOps.DocumentosGráficos.PlantillaBase<SimpleOps.DocumentosGráficos.DatosCotización>

<h1>Título Página 4 del Catálogo</h1><p>Contenido de la página 4 del catálogo.</p>

@{
    var referencia4 = Model.Líneas[4].ProductoReferencia;
}
@referencia4
<br />
@Model.Líneas[4].ProductoDescripción
<br />
@Model.Líneas[4].PrecioBaseTexto
<br />
<img src="@Model.ImágenesProductosBase64[referencia4]" />



<style>
</style>