body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 800px;
    margin: auto;
}

img {
    display: block;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 80px;
    max-width: 800px;
}

h1, h2 {
    margin-top: 80px;
    margin-bottom: 30px;
}