body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 800px;
    margin: auto;
}

img {
    display: block;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 80px;
    max-width: 800px;
}

h1, h2 {
    margin-top: 80px;
    margin-bottom: 30px;
}

h3 {
    margin-top: 40px;
}

table, th, td {
    padding: 10px;
    border: 1px solid black;
    border-collapse: collapse;
}

li {
    margin-bottom: 10px;
    margin-top: 10px;
}